body {
  font-size: 16px;
  font-weight: 400;
  color: #4a5568;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

.form-input,
.form-input:hover,
.form-input:active,
.form-input:focus {
  outline: none;
  box-shadow: none;
}

.form-input::placeholder {
  color: #c2c2c2;
  font-weight: 300;
}

.flicking-viewport {
  transition: height 500ms;
}

/* default scrollbar reset */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #4a5568;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #828ea1;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* select style */

div.actonate-select__control {
  border: none;
}

div.actonate-select__control--is-focused,
div.actonate-select__control--menu-is-open {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

div.actonate-select__value-container {
  padding: 0px;
}

div.actonate-select__single-value {
  margin: 0px;
  position: relative;
}

input.actonate-select__input {
  position: absolute;
  z-index: -1;
  min-width: unset;
  width: unset;
}

div.actonate-select__input-container {
  margin: 0px;
  padding: 0px;
}

span.actonate-select__indicator-separator {
  display: none;
}

div.actonate-select__option {
  cursor: pointer;
}

div.actonate-select__indicator {
  color: #4a5568;
  opacity: 0.5;
}

div.actonate-select__control:hover div.actonate-select__indicator,
div.actonate-select__control--menu-is-open div.actonate-select__indicator {
  opacity: 1;
}

/* slick override style starts */

.slick-next:focus,
.slick-next:hover,
.slick-prev:focus,
.slick-prev:hover {
  opacity: 1;
}
.slick-next.slick-disabled,
.slick-prev.slick-disabled {
  opacity: 0.25;
}

.slick-dots li,
.slick-dots li button {
  width: 10px;
  height: 10px;
}

.slick-dots li button:before {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #2f3239;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  background: #e2e8f0;
  opacity: 1;
}

/* slick override style ends */

#site_search::-webkit-search-cancel-button {
  display: none;
}

.main-slider {
  height: calc(100vh - 5rem);
}

.top-image {
  height: calc(100vh - 5rem);
}

.cs-slider .slick-list {
  height: 100%;
}

.cs-slider .slick-track {
  height: 100%;
  cursor: -moz-grab;
}

.cs-slider .slick-track > div {
  height: 100%;
}

.cs-slider .slick-slide > div {
  height: 100%;
}

.cs-details {
  z-index: -1;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.3s ease-in-out;
}

.cs-main:hover ~ .cs-details,
.cs-details:hover {
  z-index: 9;
  opacity: 1;
  transform: translateX(0);
}

.oc-img {
  opacity: 0.5;
  -webkit-filter: grayscale(90);
  filter: grayscale(90);
  transition: all 0.3s ease-in-out;
}

.oc-img:hover {
  opacity: 1;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.wwu-bg {
  transform: skew(-20deg);
}

.wwu-text {
  transform: skew(20deg);
}

.cs-readmore:hover > svg {
  transition: all 0.3s ease-in-out;
  transform: translate3d(60%, 0px, 0px);
}

.testimonials-slider .slick-next:before,
.testimonials-slider .slick-prev:before {
  display: none;
}

.testimonials-slider .slick-next,
.testimonials-slider .slick-prev {
  width: auto;
  height: auto;
}

.testimonials-slider .slick-next {
  right: -65px;
}

.testimonials-slider .slick-prev {
  left: -65px;
}

.overflow-unset {
  overflow: unset;
}

.position-unset {
  position: unset;
}

.team-block {
  width: 38%;
  margin-right: 5%;
}

.ReactCollapse--collapse {
  transition-duration: 300ms;
  transition-property: height;
}

.one-line p {
  display: inline;
}

@media (min-width: 1025px) {
  .mega-menu {
    height: 0px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;
  }
  .hoverable:hover .mega-menu {
    height: auto;
    opacity: 1;
    z-index: 99;
  }
  .team-slider .flicking-viewport {
    overflow: visible;
  }
  .lg\:overflow-unset {
    overflow: unset;
  }
  .lg\:position-unset {
    position: unset;
  }
  .lg\:translate-x-unset {
    transform: unset;
  }
}

@media screen and (max-width: 1024px) {
  .oc-img {
    padding: 10px 0px;
  }
  .testimonials-slider .slick-dots {
    bottom: -20px;
  }
  .main-slider {
    height: calc(80vh - 75px);
  }
  .top-image {
    height: calc(80vh - 75px);
  }
  .team-slider .flicking-viewport {
    transition: height 300ms;
  }
  .team-block {
    width: 80%;
    margin-right: 15%;
  }
  .team-block:last-child > div > div:last-child > div > p:last-child {
    width: 75%;
  }
}
